/* colors */

* {
  al:      #00000000;
  bg:      #FFFFFFFF;
  se:      #E3E3E3FF;
  fg:      #FFFFFFFF;
  ac:      #000B83FF;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
